.statistics {
    margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  text-align: center;
 
  background: aliceblue;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.title {
    text-align: center;
    color: #525f73;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  
.randomBackgroundColor {
    background-color: var(--random-color);
  }

.statList {
  display: flex;
  color: white;
  --random-color: ${generateRandomColor()};
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 20px;
}
